
.cellp:nth-child(1) {
    background: #F8F9FA;
}
.cellp:nth-child(2) {
    background: #F8F9FA;
}
.cellp:nth-child(5) {
    background: #F8F9FA;
}.cellp:nth-child(6) {
    background: #F8F9FA;
}

.cellp:nth-child(9) {
    background: #F8F9FA;
}
.cellp:nth-child(10) {
    background: #F8F9FA;
}
.cellp:nth-child(13) {
    background: #F8F9FA;
}.cellp:nth-child(14) {
    background: #F8F9FA;
}

.cellp{
    display: flex;
    align-items: center;
    color: black !important;
    font-size: 16px;
    height: 33px;
}

.title-table{
    font-weight: bold
    
}

.title-table:hover{
    cursor: pointer;
    
}




.table td, .table th {
    padding: 0;
}

.table-responsive {
    overflow-x:hidden
}



.title-table{
    color: black;
    font-size: 18px; 
    border: none !important;
    border-collapse: none;
    padding-bottom: 20px !important;
    align-items: center;
}

.no-border{
    border: none !important;
}

.last-cell{
    border-bottom: solid 1px #6c6c6c;
}

.ml-au-le{
    margin-left: auto;
    font-size: 14px;
    font-weight: normal;
}

#productCaracteristic svg{
    font-size: 13px;
    margin-right: 0;
    margin-top: 1px;

}